#navbar-container {
    $blue-primary: #0046be;
    $blue-border: rgb(73, 118, 230);
    $grey-border: rgb(197, 203, 213);
    $dropdown-title-color: #55555a;
    
    .navbar-dropdown-menu {
        width: 1032px;
        overflow: hidden;
    }
    
    .dropdown-content {
        padding: 20px;
        
    }
    .navbar-dropdown-menu {
        position: absolute;
        top: 10px;
        border: 1px solid $grey-border;
    }
    .dropdown-col-header {
        color: rgb(85, 85, 90);
        font-weight: bold;
    }
    #dropdown-shopping-history {
        position: absolute;
        right: 1px;
        width: 800px;
        height: 250px;
        .icon {
            height: 32px;
            display: inline;
        }
        .sep {
            border-bottom: 1px solid rgb(197, 203, 213);
        }
        .title {
            display: inline;
            color: $dropdown-title-color;
            font-weight: bold;
            font-size: 25px;
        }
        .message {
            color: #0457c8;
            font-size: 13px;
            border-left: 1px solid rgb(197, 203, 213);
        }
    }
    
    #dropdown-order-status {
        position: absolute;
        right: 1px;
        width: 600px;
        height: 250px;
        .icon {
            height: 32px;
            display: inline;
        }
        .title {
            display: inline;
            color: $dropdown-title-color;
            font-size: 25px;
            font-weight: bold;
        }
        .row {
            border-bottom: 1px solid rgb(197, 203, 213);
        }
    }
    
    #dropdown-account {
        position: absolute;
        right: 1px;
        width: 800px;
        height: 250px;
        
        
        .button-container {
            display: flex;
            justify-content: space-around;
            .button {
                padding: 4px 25px 4px 25px;
                font-weight: 700;
                font-size: 15px;
                border-radius: 4px;
                width: 200px;
            }
        }
        
        .column-1 {
            border-right: 1px solid $grey-border;
            .row {
                margin-top: 8px;
                font-size: 13px;
            }
            
        }
        .column-2 {
            border-right: 1px solid $grey-border;
            .row {
                margin: 15px;
            }
            .title {
                font-size: 18px;
            }
            .button {
                background-color: $blue-primary;
                color: white;
            }
            
        }
        .column-3 {
            .button {
                background-color: rgb(224, 230, 239);;
                color: $blue-primary;
            }
            .row.title {
                font-size: 20px;
            }
            .row {
                margin: 15px;
                font-size: 13px;
            }
        }
        
        
    }
    
    #dropdown-deals {
        .details {
            color: #1d252c;
            font-size: 14px;
        }
    }
    
    #dropdown-services {
        width: 900px;
        .title {
            color: #55555a;
            font-weight: bold;
            font-size: 15px;
            border-bottom: 1px solid rgb(197, 203, 213);
            padding-bottom: 5px;
        }
        .link {
            font-size: 13px;
        }
        #left-container {
            border-right: 1px solid rgb(197, 203, 213);
        }
    }
    
    .dropdown-footer-container {
        background-color: rgb(224, 230, 239);
        margin-top: 10px;
        .row {
            align-content: center;
            height: 50px;
            padding: 10px 0 10px 0;
        }
        .link {
            color: rgb(85, 86, 90);
            font-weight: bold;
            font-size: 15px ;
        }
        .dropdown-footer {
            //@media (min-width: 900px) {
            //    width: 900px;
            //    margin: auto;
            //}
        }
        .middle-footer {
            width: 50px !important;
        }
        .dropdown-footer .middle-footer {
            border-left: 1px solid rgb(85, 85, 90);
            border-right: 1px solid rgb(85, 85, 90);
        }
    }
}

