#navbar-container {
    background-color: #0046be;
}

#navbar-app {
    @media (min-width: 1600px) {
        width: 1600px;
        margin: auto;
    }

    $blue-primary: #0046be;
    $blue-border: rgb(73,118,230);
    $grey-border: rgb(197, 203, 213);

    font-family: "arial", sans-serif;
    background-color: $blue-primary;
    /* ----------------------------------------------------------------------------------------------- */
    // Grid

    display: grid;
    color: white;
    grid-template-areas:
            "l h h h h h h h h h h h h"
            "l n n n n n n n n n n n n"
            "m m m m m m m m m m m m m";

    #navbar {grid-area: n;}
    #header {grid-area: h;}
    #logo-container {grid-area: l;}
    #menu-container {grid-area: m;}

    /* ----------------------------------------------------------------------------------------------- */

    #header .nav-link {
        font-size: 13px;
    }

    #header .nav-link:hover {
        text-decoration: underline;
    }

    #menu-container {
        border-top: 1px solid $blue-border ;
    }

    #navbar {
        #searchBar {
            width: 40vw;
        }

        #search-list-container{
            color: black;
            position: absolute;
            background-color: white;
            width: 40vw;
            border: 1px solid rgb(197, 203, 213);
            z-index: 1000000;
            overflow: hidden;
            padding: 5px;

            .search-item {
                font-size: 14px;
                color: $blue-primary;
                padding: 5px;
            }
            .search-item:hover {
                text-decoration: none;
                background-color: #D9E0EB;
            }

            .row.search-list {
                border-left: 1px solid $grey-border;
            }
            .search-list {

                .image{
                    max-height: 75px;
                    max-width: 75px;
                    height: auto;
                    width: auto;
                    align-content: center;
                }
                .link {
                    font-size: 14px;
                }
            }

        }
    }
    /* ----------------------------------------------------------------------------------------------- */
    .navbar-logo {
        color: white;
        font-family: "Passion One", sans-serif;
        font-weight: bold;
        font-size: 45px;
        letter-spacing: .01em;
        line-height: .2em;
    }
    .nav-link {
        color:white !important;
    }
    .navbar-localstore {
        border-right: 1px solid $blue-border;
    }

    #products-featured-col {
        border-right: 1px solid rgb(197, 203, 213);
    }

    .brands-image, .deals-image {
        height: 93px;
        width: 170px;
        border: 1px solid rgb(221, 221, 226);
    }

    .deals-image {
        padding: 10px;
    }
    .brand-name{
        color: rgb(4,87,200);
        font-size: 13px;
        font-weight: bold;

    }


}

